.Cash_Container {
  padding: 2rem;
}

.Cash_Container > h1 {
  margin-top: 3rem;
  font-family: var(--font-title);
  background: var(--gray-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  width: 9rem;
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: 13px;
  margin-bottom: 3rem;
}

.Cash_Choose_Recipe {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

.Cash_Choose_Recipe > img {
  width: 10rem;
}

.Cash_Container > h2 {
  font-family: var(--font-title);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: var(--gray-color);
  color: white;
  width: 5.5rem;
  border-radius: 13px;
  font-size: 20px;
  padding: 0.5rem 1.3rem;
  margin-bottom: 3rem;
}

.Cash_Price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 8rem;
  height: 3rem;
  align-items: center;
  border-radius: 13px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Cash_Button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.Cash_Paid {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: var(--font-text);
  background: var(--red-color);
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: 13px;
  margin: 3rem 0rem;
}

.Cash_Paid:hover {
  background: var(--light_color);
  color: var(--red-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.Modal_Container {
  border: 1px solid var(--red-color);
  margin: auto;
}

.Paye_Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.Paye_Modal > h2 {
  font-family: var(--font-title);
}

.Code_Card,
.Date_Card,
.Crypto {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Code_Card > input,
.Date_Card > input,
.Crypto > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem 0rem;
}

.Code_Card > label,
.Date_Card > label,
.Crypto > label {
  padding: 0.5rem 0rem 0rem 0rem;
}

.Checkbox_Paye {
  display: flex;
  padding: 0.5rem 0rem 1rem 0rem;
}

.Checkbox_Paye > input {
  margin-right: 0.5rem;
}

.Paiement_Mode {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.Cash_Paid_Modal {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: var(--font-text);
  background: var(--red-color);
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: 13px;
  margin: 3rem 0rem;
}

.Cash_Paid_Modal:hover {
  background: var(--light_color);
  color: var(--red-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

.Close_Modal {
  display: flex;
  cursor: pointer;
  padding: 0.3em;
}

::backdrop {
  background: rgba(red, green, rgba(0, 0, 255, 0.02), alpha);
}

.bin > img {
  width: 30px;
  cursor: pointer;
}
