.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.275);
}

.popup_inner {
  position: relative;
  padding: 2rem;
  width: 90%;
  height: 40vh;
  background-color: #F2EEE9;
  border-radius: 13px;
}

.popup_inner > .close_btn {
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  cursor: pointer;
}

.Desc_popup {
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}

.Service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.Service > h5 {
  font-size: 20px;
}

.Service > h6 {
  font-size: 16px;
  padding-left: 0.5rem;
}

.Time_Desserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
