.produit {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 7rem;
  font-family: var(--font-text);
}
.produit .recipe {
  max-height: 200px;
  min-width: 300px;
  object-fit: cover;
  position: 80%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 10px 0;
}
.description {
  text-align: start;
}

.produit h1,
.produit h3 {
  font-family: var(--font-title);
  padding: 15px 0;
  font-size: 22px;
}
.produit p {
  padding: 5px 0;
}
.title {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.buttonPlace {
  margin-top: 2rem;
}
.RedButton {
  margin-top: 100px;
  border: 2px solid var(--red-color);
  box-shadow: var(--shadow);
  background: var(--red-color);
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: var(--border-radius-button);
}
.RedButton:hover {
  background: var(--light_color);
  color: var(--red-color);
  transition: all 0.3s ease;
}

.favorite img {
  max-width: 30px;
}
