* {
  max-width: 430px;
  text-decoration: none;
  list-style: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f2eee9;
}

#root {
  --light-color: #f2eee9;
  --red-color: rgb(112, 25, 32);
  --gray-color: #596e79;


  --font-title: "OldLondon";
  --font-text: "Macondo", "cursive";


  --border-radius-button: 13px;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

button {
  all: unset;
}

@font-face {
  font-family: "OldLondon";
  src: url(./assets/OldLondon.ttf);
}
